.babelextlight {
	color: black;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url('../img/globe.png'), url(chrome-extension://__MSG_@@extension_id__/app/img/globe.png);
	background-size: 16px;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	position: fixed;
	bottom: 10px;
	left: 10px;
}